.objective{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgba(80,80,80,0.05);
}
.objective_text_h1{
    text-align: center;
}
.objetcive_pic_container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.objective_img{
    width: 250px;
}
.objective_pic_text{
    font-size: 24px;
    font-weight: 700;
}
.objective_container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.objective_text{
    width: 100%;
    height: 40%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objective_list{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.objective_list_item{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

@media screen and (max-width: 1200px){
    .objective_img{
        width: 20%;
        text-align: center;
    }
    .objective_text_h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 950px){
    .objective_img{
        width: 20%;
        text-align: center;
    }
    .objective_text_h1{
        font-size: 25px;
    }
    .objective_text{
        font-size: 15px;
    }
    .objective_list_item{
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){

    .objective_text_h1{
        font-size: 20px;
    }
    .objective_text{
        font-size: 12px;
    }
    .objective_list_item{
        font-size: 11px;
    }
    .objective_img {
        width: 0px;
        display: none;
    }
    .objective_container{
        width: 80%;
    }
}
