.maestro_plus {
    width: 90%;
    height: 1100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.maestro_plus_title {
    font-size: 50px;
    text-align: center;
}
.maestro_plus_subtext{
    width: 75%;
}
.maestro_plus_feat_example{
    display: flex;
    position: relative;
    width: 60%;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maestro_plus_feat_close{
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}
.maestro_plus_feat_example_pic{
    max-width: 80%;
}
.maestro_plus_feat{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}
.maestro_plus_feat_item{
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.maestro_plus_feat_item_title{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}
.maestro_plus_feat_item_list_container{
    width: 350px;
    height: 100px;
}
.maestro_plus_feat_item_list{
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.maestro_plus_feat_item_list_item{
    font-size: 18px;
    width: 300px;
}
.maestro_plus_feat_item_list_item_link{
    cursor: pointer;
    width: 300px;
    font-size: 18px;
    color: rgb(0,0,255)
}

@media screen and (max-width: 1260px){
    .maestro_plus_feat_item{
        width: 270px;
    }
    .maestro_plus_feat_example_pic{
        width: 800px;
    }
}
@media screen and (max-width: 1000px){
    .maestro_plus_feat_item{
        width: 250px;
    }
    .maestro_plus_title {
        font-size: 35px;
        text-align: center;
    }
    .maestro_plus_subtext{
        font-size: 15px;
    }
    .maestro_plus_feat_item_title{
        font-size: 20px;
    }
    .maestro_plus_feat_item_list_container{
        width: 250px;
    }
    .maestro_plus_feat_item_list{
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .maestro_plus_feat_item_list_item{
        font-size: 15px;
        width: 220px;
    }
    .maestro_plus_feat_item_list_item_link{
        cursor: pointer;
        width: 220px;
        font-size: 15px;
        color: rgb(0,0,255)
    }
    .maestro_plus_feat_example_pic{
        width: 700px;
    }
}

@media screen and (max-width: 800px){
    .maestro_plus_feat_item{
        width: 210px;
    }
    .maestro_plus_feat_item_list_container{
        width: 210px;
    }
    .maestro_plus_feat_item_list{
        width: 210px;
        margin: 0;
        padding: 0;
    }
    .maestro_plus_feat_item_list_item{
        font-size: 15px;
        text-align: center;
        width: 190px;
    }
    .maestro_plus_feat_item_list_item_link{
        cursor: pointer;
        width: 190px;
        font-size: 15px;
        color: rgb(0,0,255)
    }
}
@media screen and (max-width: 730px){
    .maestro_plus_feat_item{
        width: 170px;
    }
    .maestro_plus_feat_item_list_container{
        width: 170px;
    }
    .maestro_plus_feat_item_list{
        width: 170px;
        margin: 0;
        padding: 0;
    }
    .maestro_plus_feat_item_list_item{
        font-size: 15px;
        text-align: center;
        width: 150px;
    }
    .maestro_plus_feat_item_list_item_link{
        cursor: pointer;
        width: 150px;
        font-size: 15px;
        color: rgb(0,0,255)
    }
    
    .maestro_plus_feat_example_pic{
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width: 600px){
    .maestro_plus_feat_item{
        width: 130px;
    }
    .maestro_plus_title {
        font-size: 25px;
        text-align: center;
    }
    .maestro_plus_subtext{
        font-size: 12px;
    }
    .maestro_plus_feat_item_title{
        font-size: 17px;
    }
    .maestro_plus_feat_item_list_container{
        width: 130px;
    }
    .maestro_plus_feat_item_list{
        width: 130px;
        margin: 0;
        padding: 0;
    }
    .maestro_plus_feat_item_list_item{
        font-size: 12px;
        width: 110px;
    }
    .maestro_plus_feat_item_list_item_link{
        cursor: pointer;
        width: 110px;
        font-size: 12px;
        color: rgb(0,0,255)
    }
}
@media screen and (max-width: 500px){
    .maestro_plus {
        
    }
    .maestro_plus_feat_example{
        display: none;
    }
}